attrs
click
colorama
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-table
DateTime
et-xmlfile
flasgger
Flask
itsdangerous
Jinja2
jsonschema
MarkupSafe
mistune
numpy
openpyxl
pandas
plotly
pyrsistent
python-dateutil
pytz
PyYAML
six
tenacity
Werkzeug
XlsxWriter
yearfrac
zope.interface
